#webspace{
margin: auto;
border: 1px solid red;
width:960px;
}

#container-graph1andtable1{
width: 760px;
height: 450px;
display:inline-block;
margin-left:100px;
margin-top:100px;
border: 1px solid red;
}

#graph1-stage{  /*graph stage is the container of graph + buttons */
margin-top:50px;
margin-left:10px;
height: 350px;
border: 1px solid red;
display: inline-block;
}

#graph1 {
margin-top:50px;
height: 250px;
width: 500px;

border:1px solid red;
}

#graph1-btns {
margin-top:10px;
margin-left:20px;
}

#graph1-statusbar{
margin-top: 25px;
margin-left:10px;
}

#table1{
width:100px;
margin-top: 50px;
height: 350px;
border: 1px solid red;
}

#container-graph2andtable2{
width: 760px;
height: 450px;
display:inline-block;
margin-left:100px;
margin-top:0px;
border: 1px solid red;
}

#graph2-stage{  /*graph stage is the container of graph + buttons */
margin-top:50px;
margin-left:10px;
height: 350px;
border: 1px solid red;
display: inline-block;
}

#graph2 {
margin-top:50px;
height: 250px;
width: 500px;

border:1px solid red;
}

#graph2-btns {
margin-top:10px;
margin-left:20px;
}

#graph2-statusbar{
margin-top: 25px;
margin-left:10px;
}

#table2{
width:100px;
margin-top: 50px;
height: 350px;
border: 1px solid red;
}

.chart rect{
fill: steelblue;
stroke: white;
}






